<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<h1 style="text-align: left;margin-left:  10px;margin-top: -30px; color: #2b7bca">Hello
		<%=user.name%>, Balance:
			<%=user.balance%>
	</h1>
	<div class="container">
		<input id="toggle" type="checkbox">
		<label class="toggle-container" for="toggle">
			<span class="button button-toggle"></span>
		</label>
		<nav class="nav">
			<a class="nav-item" href="home">Home</a>
			<a class="nav-item" id="myBtn" href="#">Edit Account</a>
			<a class="nav-item" href="/">Log out</a>
		</nav>
	</div>
	<div class="tab">
		<button id='0' class="tablinks" onclick="setActiveTab(event, 0)">Single games</button>
		<button id='1' class="tablinks" onclick="setActiveTab(event, 1)">Group games</button>
		<button id='4' class="tablinks" onclick="setActiveTab(event, 4)">Scratch cards</button>
		<button id='5' class="tablinks" onclick="setActiveTab(event, 5)">Combo Group Games</button>
		<button id='6' class="tablinks" onclick="setActiveTab(event, 6)">Instant Win Games</button>
	</div>
	<!-- The Modal -->
	<div id="myModal" class="modal">
		<% include ../partials/userModal %>
	</div>

	<div class="tabcontent">
		<table>
			<tr>
				<th>Name</th>
				<th>Next draw</th>
				<th>Price</th>
				<th>Currency</th>
				<th>Jackpot</th>
			</tr>
			<%for(i=0;i<lotteries.length;i++){%>

				<tr>
					<td>
						<%=lotteries[i].name%>
					</td>
					<td>
						<%=lotteries[i].next_draw%>
					</td>
					<td>
						<%=lotteries[i].price_share%>
					</td>
					<td>
						<%=lotteries[i].currency%>
					</td>
					<td>
						<%=lotteries[i].jackpot%>
					</td>
				</tr>
				<%}%>
		</table>
	</div>
	<script>
		var modal = document.getElementById('myModal');
		var btn = document.getElementById("myBtn");
		var span = document.getElementsByClassName("close")[0];

		btn.onclick = function () {
			modal.style.display = "block";
		}
		span.onclick = function () {
			modal.style.display = "none";
		}
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
</body>

</html>